.container {
  width: 60%;
  margin: auto;
}

.row {
  display: flex;
  justify-content: auto;
  flex-basis: 100%;
}

img {
  width: 100%;
  flex-basis: 100%;
}

p {
  width: 100%;
  flex-basis: 100%;
}

.column-one-third {
  flex-basis: calc(33.333%);
}

.column-two-thirds {
  flex-basis: calc(66.666%);
}
