
.row {
  display: flex;
}

.background {
  width: 80%;
  margin: auto;
}

.heading {
  justify-content: center;
  font-family: 'DM Sans', sans-serif;
}

.one-fifth {
  flex-basis: 20%;
  flex-wrap: wrap;
  font-family: 'DM Sans', sans-serif;
}

.one-fifth > img {
  width: 95%;
}

.four > img {
  width: 106%;
}

.description > h4 > a {
  color: #d8d8d8;
  padding-left: 5px;
  border-left-color: #d8d8d8;
  border-style: solid;
  border-top-color: white;
  border-right-color: white;
  border-bottom-color: white;
  margin: 5px;
  border-width: thin;
}

.price-background {
  background-color: #fff2e7;
  color: #46423f;
}

.line-through {
  text-decoration: line-through;
  color: #d8d8d8;
  margin-left: 1rem;
}
