body {
  width: 80%;
  margin: auto;
}

div {
  justify-content: center;
}

.heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  margin: auto;
}

.row {
  display: flex;
  padding: 5rem;
}

.column {
  display: flex;
  margin: -2rem;
}

.column-text {
  width: 45%;
}

img {
  width: 75%;
}

h3 {
  font-family: 'Karla', sans-serif;
}

p {
  font-family: 'Karla', sans-serif;
}

h1 {
  font-family: 'Karla', sans-serif;
  font-size: 45pt;
}

.button {
  display: flex;
  justify-content: center;
}

.learn-more {
  padding: 10px;
  width: 12%;
  background-color: white;
  border-color: #d14c45;
  color: #d55b55;
  font-family: 'Karla', sans-serif;
  font-size: 12pt;
  font-weight: bold;
}

.learn-more:hover {
  background-color: lightgrey;
  color: white;
}
